# Don't track local files
*.DS_Store
__pycache__

# Temp
venv

# Don't track env, dbs, package-lock
.env
*.sqlite
*-lock.json

# Don't track smart contract files
Toro_smart_contract/build/
Toro_smart_contract/flattened*
Toro_smart_contract/node_modules/
metadata_hosting

# Don't track pkls or imgs
*.pkl
*.pt
*.jpg
*.png
